$white: #ffffff;
$black: #000000;
$deepBlack: #202329;
$lightBlack: #333333;
$deepBlue: #24282F;
$lightGray: #f3f3f3;
$gray: #9E9E9E;
$deepGray: #3C3E44;
$orange: #FF9A00;
$green: #55CC44;
$red: #D63D2E;
